<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<body>

<header>
    <div th:replace="base :: logo"></div>
    <div th:replace="base :: titulo('Novo pedido')"></div>
</header>
<main>
    <div class="container">
        <div class="card mt-3">
            <form th:object="${requisicaoPedido}" class="card-body" action="/pedido/novo" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="nomeProduto">Produto</label>
                    <input th:field="*{nomeProduto}" th:errorclass="is-invalid" class="form-control" type="text"
                           placeholder="Nome do produto"/>
                    <small>Informe o nome do produto.</small><br/>
                    <small class="invalid-feedback" th:errors="*{nomeProduto}">Error</small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="url">Url</label>
                    <input th:field="*{urlProduto}" th:errorclass="is-invalid" class="form-control" type="text"
                           placeholder="Url do produto"/>
                    <small>Procure em um site o produto que deseja e cole aqui.</small><br/>
                    <small class="invalid-feedback" th:errors="*{urlProduto}">Error</small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="imagem">Imagem</label>
                    <input th:field="*{imagemProduto}" th:errorclass="is-invalid" class="form-control" type="text"
                           placeholder="Imagem do produto"/>
                    <small>Copie e cole a imagem do produto desejado.</small><br/>
                    <small class="invalid-feedback" th:errors="*{imagemProduto}">Error</small>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="descricao">Descrição</label>
                    <textarea th:field="*{descricao}" class="form-control" style="max-height:100px;"
                              placeholder="Adicione detalhes importantes para ajudar o compradpr."></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</main>

</body>
</html>