<head xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="pt-BR"
      th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <title>Hello</title>
    <style>
        .logo-container{
            background-color:#47bcff;
        }
        .logo-font{
            font-family: 'Handlee', cursive;
            font-size: 2.5rem;
        }
    </style>
</head>

<!--        ##########################          -->

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://thymeleaf.org"
     th:fragment="logo"
     class="container-fluid logo-container mb-3 p-3 text-white d-flex align-items-center justify-content-between">
    <span class="logo-font fw-bold">mudi</span>
    <span>login</span>
</div>

<!--        ##########################          -->

<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://thymeleaf.org"
     th:fragment="titulo(valor)"
     class="container py-5 bg-light">
    <h1 class="display-4 fw-light" th:text="${valor}"></h1>
</div>