<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<body>
    <div th:replace="~{base :: logo}"></div>
    <div class="container">
        <header>
            <div th:replace="base :: titulo('Meus pedidos')"></div>
            <nav class="navbar navbar-expand bg-light d-flex justify-content-between">
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:classappend="${status} == null ? 'active'" class="nav-link" href="/home">Todos</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:classappend="${status} == 'aguardando' ? 'active'"  class="nav-link" href="/home/aguardando">Aguardando</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:classappend="${status} == 'aprovado' ? 'active'" class="nav-link" href="/home/aprovado">Aprovado</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a th:classappend="${status} == 'entregue' ? 'active'" class="nav-link" href="/home/entregue">Entregue</a>
                        </li>
                    </ul>
                </div>
                <a class="btn btn-outline-secondary" href="/pedido/formulario">Novo</a>
            </nav>
        </header>
        <div class="card mb-3" th:each="pedido : ${pedidos}">
            <th:block th:switch="${pedido.status.name()}">
                <div th:case="'AGUARDANDO'" class="card-header alert alert-warning">Nome do produto: <span th:text="${pedido.nome}"></span></div>
                <div th:case="'APROVADO'" class="card-header alert alert-success">Nome do produto: <span th:text="${pedido.nome}"></span></div>
                <div th:case="'ENTREGUE'" class="card-header alert alert-dark">Nome do produto: <span th:text="${pedido.nome}"></span></div>
            </th:block>
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="row">
                            <div class="col-md-5">Valor: <span th:if="${pedido.valor} != null" th:text="${'R$ ' + #numbers.formatDecimal(pedido.valor,3,'POINT',2,'COMMA')}">200.00</span></div>
                            <div class="col-md-7">Data da entrega: <span
                                    th:text="${#temporals.format(pedido.dataEntrega, 'dd/MMM/yyyy')}">10/10/2010</span>
                            </div>
                        </div>
                        <div>Produto</div>
                        <div>Url do produto <input class="form-control" th:value="${pedido.urlProduto}" readonly/></div>
                        <div>Descrição</div>
                        <div>
                            <textarea th:text="${pedido.descricao}"></textarea>
                        </div>
                    </div>
                    <div class="col-12 col-sm-4">
                        <div>
                            <img class="img-thumbnail" th:src="${pedido.urlImagem}"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>